{% extends "polmil/bootstrap3_base.html" %}
{% load bootstrap3 %}
{# Load libraries css, js and images #}
{% load static %}

{% block bootstrap3_title %}{% endblock %}
{% block extra_head %}

{% endblock %}

{% block bootstrap3_content %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">Mapa da Segurança Pública</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'dashboard' %}">Configurações</a></li>
                    <li><a href="{% url 'dashboard' %}">Sobre</a></li>
                    <li><a href="{% url 'dashboard' %}">Login</a></li>
                </ul>
                <!-- <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form> -->
            </div>
        </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <p>Teste do Chamados 190</p>
            <h6>Apenas mais testes Teste do Chamados 190</h6>
            <p><button type="button" class="btn btn-xs btn-primary">Default</button></p>

            <!--
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Parâmetros</h3></div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <table class="table">
                                        <tr>
                                            <td><button type="button" class="btn btn-xs btn-primary">Default</button></td>
                                            <td><button type="button" class="btn btn-xs btn-primary">Default</button></td>
                                            <td><button type="button" class="btn btn-xs btn-primary">Default</button></td>
                                            <td><button type="button" class="btn btn-xs btn-primary">Default</button></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <label for="camada01" class="col-sm-2 control-label">Camada 01:</label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" class="form-control" id="camada01" name="camada01" data-toggle="tooltip" data-placement="top" title="Marque se...">
                                    </div>

                                    <label for="camada02" class="col-sm-2 control-label">Camada 02:</label>
                                    <div class="col-sm-1">
                                        <input type="checkbox" class="form-control" id="camada02" name="camada02" data-toggle="tooltip" data-placement="top" title="Marque se...">
                                    </div>

                                    <label for="TiposdeChamado" class="col-sm-2 control-label">Camada 02:</label>
                                    <div class="col-sm-2">
                                        <select name="TiposdeChamados" class="form-control" id="TiposdeChamado" data-toggle="tooltip" data-placement="bottom" title="Escolha o tipo de chamado.">
                                            <option value="volvo">Volvo</option>
                                            <option value="saab">Saab</option>
                                            <option value="fiat">Fiat</option>
                                            <option value="audi">Audi</option>
                                        </select>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

    <!-- Begin page content
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Chamados 190</a></li>
                    <li><a href="#">Ocorrências</a></li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{% block title %}(no title){% endblock %}</h1>
            </div>
        </div>

    </div> -->
    <!-- End page content -->
    {% block content %}
    {% endblock %}

{% endblock %}
