{# Load the tag library #}
{% load bootstrap3 %}

{# Load libraries css, js and images #}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">

<head>

    <title>{% block titulo %}Mapa da Segurança Pública do Rio de Janeiro{% endblock %}</title>

{% block meta %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Python, Django, Alatazan, Katara, blog" />
    <meta name="description" content="Este é o blog do Alatazan, um katarense aprendendo Django." />
{% endblock meta %}

{% block style %}
    <!-- Custom styles-->
    <link href="{% static "lib/css/custom.css" %}" rel="stylesheet">
    <!-- Custom styles for Dashboard -->
    <link href="{% static "lib/css/dashboard.css" %}" rel="stylesheet">

    <!-- Leaflet 0.73: -->
    <link rel="stylesheet" href="{% static "lib/leaflet/css/leaflet.css" %}"/>

	<!-- MarkerCluster https://github.com/danzel/Leaflet.markercluster -->
	<link rel="stylesheet" href="{% static "lib/MarkerCluster/css/MarkerCluster.css" %}" />
	<link rel="stylesheet" href="{% static "lib/MarkerCluster/css/MarkerCluster.Default.css" %}" />

    <!-- Leaflet File Layer -->
    <link rel="stylesheet" href="{% static "lib/FileLayer/css/font-awesome.min.css" %}" />

    <!-- Leaflet OSMSearch -->
    <link rel="stylesheet" href="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.css"/>

    <!-- Leaflet PanelLayers
    <link rel="stylesheet" href="{% static "lib/PanelLayers/css/style.css" %}" /> -->
    <link rel="stylesheet" href="{% static "lib/PanelLayers/css/leaflet-panel-layers.css" %}"/>
    <link rel="stylesheet" href="{% static "lib/PanelLayers/css/icons.css" %}" />

{% endblock style %}

{% block scripts %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type = 'text/javascript' src="{% static  "lib/js/ie10-viewport-bug-workaround.js" %}"></script>

    <!-- Leaflet 0.73:
    <link rel="stylesheet" href="{% static "lib/leaflet/css/leaflet.css" %}"/>
	<script src="{% static "lib/leaflet/js/leaflet.js" %}"></script> -->
    <script type = 'text/javascript' src="{% static "lib/PanelLayers/js/leaflet.js" %}"></script>

    <!-- MarkerCluster https://github.com/danzel/Leaflet.markercluster -->
    <script type = 'text/javascript' src="{% static "lib/MarkerCluster/js/leaflet.markercluster-src.js" %}"></script>

    <!-- GeoCSV: https://github.com/joker-x/Leaflet.geoCSV -->
    <script type = 'text/javascript' src="{% static "lib/GeoCsv/js/leaflet.geocsv-src.js" %}"></script>

	<!-- jQuery 1.11.1: http://jquery.com/ -->
	<script type = 'text/javascript' src="{% static "lib/jquery/jquery.js" %}"></script>

    <!-- Leaflet File Layer -->
    <script type = 'text/javascript' src="{% static "lib/FileLayer/js/leaflet.filelayer.js" %}"></script>
    <script type = 'text/javascript' src="{% static "lib/FileLayer/js/togeojson/togeojson.js" %}"></script>

    <!-- Leafllet Heat
    <script type = 'text/javascript' src="{% static "lib/js/2013-earthquake.js" %}"></script>
    <script type = 'text/javascript' src="http://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script> -->

    <!-- Leaflet OSMGeocoder -->
    <script type = 'text/javascript' src="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.js"></script>

    <!-- Leaflet PanelLayers -->
    <script type = 'text/javascript' src="{% static "lib/PanelLayers/js/leaflet-panel-layers.js" %}"></script>
    <!-- GEOJSON DATA -->
    <script type = 'text/javascript' src="{% static "lib/PanelLayers/data/bar.js" %}"></script>
    <script type = 'text/javascript' src="{% static "lib/PanelLayers/data/fuel.js" %}"></script>
    <script type = 'text/javascript' src="{% static "lib/PanelLayers/data/parking.js" %}"></script>
    <script type = 'text/javascript' src="{% static "lib/PanelLayers/data/drinking_water.js" %}"></script>

{% endblock scripts %}
</head>

<body>

{% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mapa da Segurança Pública do Rio de Janeiro</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Dashboard</a></li>
                    <li><a href="#">Configurações</a></li>
                    <li><a href="#">Ajuda</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </div>
{% endblock menu %}


{% block conteudo %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="page-header">Chamados 190</h1>
            {%  for p in chamados %}
            <h1>{{ c.protocolo}}</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}


    <div class="footer">
        <div class="container">
            <img  src="{% static 'images/emap_logo.png' %}" alt="logotipo emap" height="35px">
            <img  src="{% static 'images/igarape_logo.png' %}" alt="logotipo igarape" height="35px">
        </div>
    </div>
</body>
</html>
