{% extends 'polmil/base.html' %}

{% block extra_head %}
    {%  load static %}

    {# Load libraries leaflet #}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="ALL" %}

    <link rel="stylesheet" href="{% static "lib/css/sticky-footer.css" %}" />

	<!-- MarkerCluster https://github.com/danzel/Leaflet.markercluster -->
	<link rel="stylesheet" href="{% static "lib/MarkerCluster/css/MarkerCluster.css" %}" />
	<link rel="stylesheet" href="{% static "lib/MarkerCluster/css/MarkerCluster.Default.css" %}" />
	<script src="{% static "lib/MarkerCluster/js/leaflet.markercluster-src.js" %}"></script>

	<!-- GeoCSV: https://github.com/joker-x/Leaflet.geoCSV -->
    <script src="{% static "lib/GeoCsv/js/leaflet.geocsv.js" %}"></script>

    <!-- Leaflet File Layer -->
    <link rel="stylesheet" href="{% static "lib/FileLayer/css/font-awesome.min.css" %}" />
    <script src="{% static "lib/FileLayer/js/leaflet.filelayer.js" %}"></script>
    <script src="{% static "lib/FileLayer/js/togeojson/togeojson.js" %}"></script>

    <!-- Leaflet OSMGeoCoder -->
    <link rel="stylesheet" href="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.css"/>
    <script src="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.js"></script>

    <style>
        .leaflet-container {  /* all maps */
            width:  100%;
            height: 780px;
        }
    </style>

{% endblock %}

{% block content %}

    {#% block title %#}{#% endblock %#}

    {% leaflet_map "mapa" %}
	{#% leaflet_map "mapa" callback="main_map_init" %#}

    <script type="text/javascript">
    //;$(function() {
    var mapa = L.map('mapa', {attributionControl:false}).setView([-22.70,-43.11], 10);
    L.tileLayer('http://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 18
    }).addTo(mapa);

    var ocorrencias = L.geoCsv(null, {
	onEachFeature: function (feature, layer) {
		var popup = '';
		for (var indice in feature.properties) {
			var title = ocorrencias.getPropertyTitle(indice);
			popup += '<b>'+title+'</b><br />'+feature.properties[indice]+'<br />';
		}
		layer.bindPopup(popup);
	},
	pointToLayer: function (feature, latlng) {
		return L.marker(latlng, {
			icon:L.icon({
				iconUrl: '{% static 'images/chamado.png' %}',
				shadowUrl: '{% static 'images/marker-shadow.png' %}',
				iconSize: [28,35],
				shadowSize:   [41, 41],
				shadowAnchor: [13, 20]
			})
		});
	}

    });

    $.ajax ({
	    type:'GET',
	    dataType:'text',
	    url:'{% static 'data/segpub.csv' %}',
    error: function() {
        alert('Não foi possível carregar os dados');
    },
	success: function(csv) {
        var cluster = new L.MarkerClusterGroup();
		ocorrencias.addData(csv);
		cluster.addLayer(ocorrencias);
		mapa.addLayer(cluster);
		mapa.fitBounds(cluster.getBounds());
	},
    complete: function() {
        $('#carregando').delay(500).fadeOut('slow');
    }
    });
//});


    var style = {color:'red',
                 opacity: 1.0,
                 fillOpacity: 1.0,
                 weight: 2,
                 clickable: false};
        L.Control.FileLayerLoad.LABEL = '<i class="fa fa-folder-open"></i>';
        L.Control.fileLayerLoad({
            fitBounds: true,
            layerOptions: {style: style,
                           pointToLayer: function (data, latlng) {
                              return L.circleMarker(latlng, {style: style});
                           }}
        }).addTo(mapa);

    var osmGeocoder = new L.Control.OSMGeocoder({
            collapsed: false,
            position: 'bottomright',
            text: 'Encontre'
			});

    mapa.addControl(osmGeocoder);

</script>

{% endblock %}