{% extends "polmil/base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load libraries css, js and images #}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}

{% block extra_css %}
    <!-- Leaflet 0.73: -->
    <link rel="stylesheet" href="{% static "lib/leaflet/css/leaflet.css" %}"/>

	<!-- MarkerCluster https://github.com/danzel/Leaflet.markercluster -->
	<link rel="stylesheet" href="{% static "lib/MarkerCluster/css/MarkerCluster.css" %}" />
	<link rel="stylesheet" href="{% static "lib/MarkerCluster/css/MarkerCluster.Default.css" %}" />
{% endblock %}

{% block extra_js %}
    <!-- Leaflet 0.73: -->
	<script src="{% static "lib/leaflet/js/leaflet.js" %}"></script>

    <!-- MarkerCluster https://github.com/danzel/Leaflet.markercluster -->
    <script type = 'text/javascript' src="{% static "lib/MarkerCluster/js/leaflet.markercluster-src.js" %}"></script>
    <script src="{% static "lib/js/mapa.js"  %}" type="text/javascript"></script>
 {% endblock %}

{% block body_class %}mapa{% endblock %}

{% block corpo %}
	<div class="col-lg-9 col-md-9 col-sm-9">
		{% for caso in casos %}
			{{caso.id}}
			{{caso.coordenadas}}
		{% endfor %}

		<div id="mapa"></div>

		<div class="firma">
			<a href="http://emap.fgv.br" target="_blank">
				<img  src="{% static 'images/emap_logo.png' %}" alt="logotipo emap" height="35px">
			</a>
			<a href="http://igarape.org.br" target="_blank">
				<img  src="{% static 'images/igarape_logo.png' %}" alt="logotipo igarape" height="35px">
			</a>
		</div>

	</div>
{% endblock %}

{% block opcoes %}
    <div class="col-lg-3 col-md-3 col-sm-3 opciones">
        <div class="destacado">
            <h2>Filtros de dados</h2>
            <small>Filtrar dados dos Chamados do 190</small>
        </div>

        <div class="filtros">
            <h3>Período de Janeiro(Desde - Até)</h3>
            <div class="btn-group desde">
                <button id="desde" value="1" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                    1 <b class="caret"></b>
                </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1">1</a></li>
                <li><a val="2">2</a></li>
                <li><a val="3">3</a></li>
                <li><a val="4">4</a></li>
                <li><a val="5">5</a></li>
                <li><a val="6">6</a></li>
                <li><a val="7">7</a></li>
                <li><a val="8">8</a></li>
                <li><a val="9">9</a></li>
                <li><a val="10">10</a></li>
                <li><a val="11">11</a></li>
                <li><a val="12">12</a></li>
                <li><a val="13">13</a></li>
                <li><a val="14">14</a></li>
                <li><a val="15">15</a></li>
                <li><a val="16">16</a></li>
                <li><a val="17">17</a></li>
                <li><a val="18">18</a></li>
                <li><a val="19">19</a></li>
                <li><a val="20">20</a></li>
                <li><a val="21">21</a></li>
                <li><a val="22">22</a></li>
                <li><a val="23">23</a></li>
                <li><a val="24">24</a></li>
                <li><a val="25">25</a></li>
                <li><a val="26">26</a></li>
                <li><a val="27">27</a></li>
                <li><a val="28">28</a></li>
                <li><a val="29">29</a></li>
                <li><a val="30">30</a></li>
                <li><a val="31">31</a></li>
              </ul>
            </div>
            
            <div class="btn-group hasta">
                <button id="hasta" value="31" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                    31 <b class="caret"></b>
                </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1">1</a></li>
                <li><a val="2">2</a></li>
                <li><a val="3">3</a></li>
                <li><a val="4">4</a></li>
                <li><a val="5">5</a></li>
                <li><a val="6">6</a></li>
                <li><a val="7">7</a></li>
                <li><a val="8">8</a></li>
                <li><a val="9">9</a></li>
                <li><a val="10">10</a></li>
                <li><a val="11">11</a></li>
                <li><a val="12">12</a></li>
                <li><a val="13">13</a></li>
                <li><a val="14">14</a></li>
                <li><a val="15">15</a></li>
                <li><a val="16">16</a></li>
                <li><a val="17">17</a></li>
                <li><a val="18">18</a></li>
                <li><a val="19">19</a></li>
                <li><a val="20">20</a></li>
                <li><a val="21">21</a></li>
                <li><a val="22">22</a></li>
                <li><a val="23">23</a></li>
                <li><a val="24">24</a></li>
                <li><a val="25">25</a></li>
                <li><a val="26">26</a></li>
                <li><a val="27">27</a></li>
                <li><a val="28">28</a></li>
                <li><a val="29">29</a></li>
                <li><a val="30">30</a></li>
                <li><a val="31">31</a></li>
              </ul>
            </div>

            <h3>Municípios</h3>
            <div class="btn-group">
              <button id="provincia" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                Todas <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu">
                    <li><a val="Ciudad De Buenos Aires">Ciudad De Buenos Aires</a></li>
                    <li><a val="Buenos Aires">Buenos Aires</a></li>
                    <li><a val="Catamarca">Catamarca</a></li>
                    <li><a val="Cordoba">Córdoba</a></li>
                    <li><a val="Corrientes">Corrientes</a></li>
                    <li><a val="Chubut">Chubut</a></li>
                    <li><a val="Entre Rios">Entre Ríos</a></li>
                    <li><a val="Formosa">Formosa</a></li>
                    <li><a val="Jujuy">Jujuy</a></li>
                    <li><a val="La Pampa">La Pampa</a></li>
                    <li><a val="La Rioja">La Rioja</a></li>
                    <li><a val="Mendoza">Mendoza</a></li>
                    <li><a val="Misiones">Misiones</a></li>
                    <li><a val="Neuquen">Neuquén</a></li>
                    <li><a val="Rio Negro">Río Negro</a></li>
                    <li><a val="Salta">Salta</a></li>
                    <li><a val="San Juan">San Juan</a></li>
                    <li><a val="San Luis">San Luis</a></li>
                    <li><a val="Santa Cruz">Santa Cruz</a></li>
                    <li><a val="Santa Fe">Santa Fe</a></li>
                    <li><a val="Santiago Del Estero">Santiago del Estero</a></li>
                    <li><a val="Tierra Del Fuego">Tierra del Fuego</a></li>
                    <li><a val="Tucuman">Tucumán</a></li>
                    <li class="divider"></li>
                    <li><a val="">Todas</a></li>
              </ul>
            </div>
            
            <h3>Roubos</h3>
            <div class="btn-group">
              <button id="tipo-edad" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                Todas las edades<span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1">Roubo</a></li>
                <li><a val="2">Roubo de Auto Carga</a></li>
                <li><a val="3">Roubo em Estabelecimento Comercial</a></li>
                <li><a val="4">Roubo em Estabelecimento Financeiro</a></li>
                <li><a val="5">Roubo em Residência</a></li>
                <li class="divider"></li>
                <li><a val="">Todas os tipos de Roubos</a></li>
              </ul>
            </div>
        
            <h3>Batalhão</h3>
            <div class="btn-group">
              <button id="sexo" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                Ambos <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1">1ºBPM</a></li>
                <li><a val="2">2ºBPM</a></li>
                <li class="divider"></li>
                <li><a val="">Todos</a></li>
              </ul>
            </div>
        
            <h3>Categorias</h3>
            <div class="btn-group">
              <button id="fuerza" type="button" class="btn btn-danger dropdown-toggle filtro" data-toggle="dropdown">
                Todas las fuerzas<span class="caret"></span>
            </button>
              <ul class="dropdown-menu" role="menu">
                <li><a val="1">Queda de Ligação</a></li>
                <li><a val="2">Ocorrências</a></li>
                <li><a val="3">Informação</a></li>
                <li><a val="4">Trote</a></li>
                <li><a val="5">Desistência</a></li>
                <li><a val="6">Reclamação</a></li>
                <li><a val="7">Denúncia</a></li>
                <li><a val="8">Elogio</a></li>
                <li><a val="8">SIPO</a></li>
                <li class="divider"></li>
                <li><a val="">Todas las fuerzas</a></li>
              </ul>
            </div>

        </div>
        
        <div class="destacado">
            <h3>Chamados</h3>
            <p>Quantidade de chamados: <b id="cantidad-casos"></b></p>
        </div>

        <div id="loading">
            <h2>Carregando Chamados...</h2>
            <img src="{% static "images/loading.gif" %}"/>
        </div>
    </div>

{% endblock %}

